@model MVCBasico.Models.Resena

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Reseña</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="contenidoId" class="control-label"></label>
                <select asp-for="contenidoId" class="form-control" asp-items="@ViewBag.Contenidos">
                    <option value="">Selecciona un contenido</option>
                </select>
                <span asp-validation-for="contenidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calificacion" class="control-label"></label>
                <input asp-for="calificacion" class="form-control" />
                <span asp-validation-for="calificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comentario" class="control-label"></label>
                <input asp-for="comentario" class="form-control" />
                <span asp-validation-for="comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioId" class="control-label"></label>
                <select asp-for="usuarioId" class="form-control" asp-items="@ViewBag.Usuarios">
                    <option value="">Selecciona un usuario</option>
                </select>
                <span asp-validation-for="usuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
