@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>¡Bienvenido a nuestra página interactiva de puntuación y calificación! Aquí podrás descubrir y evaluar una amplia variedad de contenidos y productos!</p>
    <div class="imgPrincipal"></div>
</div>
