@model MVCBasico.Models.Serie

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Serie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="director" class="control-label"></label>
                <input asp-for="director" class="form-control" />
                <span asp-validation-for="director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genero" class="control-label"></label>
                <select asp-for="genero" class="form-control" asp-items="Html.GetEnumSelectList<Genero>()">
                    <option selected="selected" value="">Please select</option>
                </select>

                <span asp-validation-for="genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantCapitulos" class="control-label"></label>
                <input asp-for="cantCapitulos" class="form-control" />
                <span asp-validation-for="cantCapitulos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantTemporadas" class="control-label"></label>
                <input asp-for="cantTemporadas" class="form-control" />
                <span asp-validation-for="cantTemporadas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
